.navbar{
    flex-direction: row;
    display: flex;
    height:9vh;
    width:100vw;   
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #5aa4ff, #4d9dff);
    z-index: 1000;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); */
}
.spot{
    position:fixed;
    top:0;
    right:0;
    left:0;
    
}
#MoneyBoatLogo{
    height: 7vh;
    width: 10vw;
    margin: 0 0 0 5vw;
    padding : 2vh 0 0 0;
    z-index:1001;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0vh 4vw 3vh 50.5vw;
    position: fixed;
}
.navbar ul li{
    padding: 3vh 2vw 2vh 2vw;
    color: whitesmoke;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 400;
}
.navbar ul li a:active{
    transform: scale(1.25);
    text-decoration: underline;
}
#usericon{
    height: 6.5vh;
    width: 6.5vh;
    display: flex;
    padding: 2vh 8vw 1vh 2vw;
}
/* .dropmenu{
    flex-direction: column;
    display: flex;
    height: fit-content;
    width: 12vw;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin: 3vh 0 0 0;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 5.3);
    gap: 0.5vh;
    padding: 1vh 0.5vw 1vh 0.5vw;

}
/* .dropitem{
    background-color:#0059FF;
    border-radius: 15px;
    height: 4vh;
    color: white;
    font-size:15px;
    font-family: 'Poppins'; 

} */
@media (max-width: 1100px) {
    .navbar ul {
        margin-top: 100px;
        padding-left: 69px;
        margin-bottom: 0px;
        font-size: 25px;
        font-weight: 500;
        flex-direction: row;
    }

    .navbar ul li {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    #MoneyBoatLogo {
        height: 100px;
        width: auto;
        padding-left: 100px;
        padding-top: 50px;
    }
}
@media (max-width: 768px) {
    .navbar ul {
        margin-top: 80px;
        padding-left: 68px;
        margin-bottom: 0px;
        font-size: 30px;
        font-weight: 500;
        flex-direction: row;
    }

    .navbar ul li {
        padding-left: 37px;
        padding-right: 47px;
        padding-top: 10px;
    }

    #MoneyBoatLogo {
        height: 100px;
        width: auto;
        padding-left: 0px;
        padding-top: 30px;
    }
}