@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body {
  background: linear-gradient(to bottom, #4d9dff 50%, #1755a0);/* Sets the entire screen's background color */
  margin: 0; /* Removes default margin around the body */
  padding: 0; /* Removes default padding around the body */
  height: 100%; /* Ensures the background covers the full viewport height */
  max-width: 100vw; /* Ensures the background covers the full viewport width */
   /* Prevents horizontal scrolling */
  display: block;

}
